<?xml version="1.0"?>
<!--
/**
 * Copyright © All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <zaproo_customerstatus>
            <general>
                <enabled>1</enabled>
            </general>
        </zaproo_customerstatus>
    </default>
</config>
