<?xml version="1.0"?>
<!--
/**
 * Copyright © All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zaproo" translate="label" sortOrder="1000">
            <label>Zaproo</label>
        </tab>
        <section id="zaproo_customerstatus" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Status</label>
            <tab>zaproo</tab>
            <resource>Zaproo_CustomerStatus::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable this module</comment>
                </field>
            </group>
        </section>
    </system>
</config>
